ion-title{
  right: 13px;
}
ion-back-button{
  color: #4343E6;
}
ion-icon{
  color: #4343E6;
}

ion-segment{
  color: #4343E6;
  margin-top: 15px;
}
.navbar{
  padding-bottom: 10px;
}
ion-grid{
  margin-top: 3px;
}
ion-row{
  margin-bottom: 1px;
}
ion-col{
  margin-bottom: 5px;
}
ion-card-title{
  font-size: 17px;
}
ion-card-subtitle{
  font-size: 10px;
}
