<ion-header>
  <ion-toolbar>
    <ion-title>3D</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/matieres"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        <ion-label>Projets</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites" (click)="toCours()">
        <ion-label>Cours</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card >
          <ion-img src="assets/img/Modelisation.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>Modeling</ion-card-title>
            <ion-card-subtitle>by - Daniel</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/3D.png">
            <ion-icon style="align-items: center" name="heart-outline"></ion-icon>
          </ion-img>
          <ion-card-header>
            <ion-card-title>
              Rendering
            </ion-card-title>
            <ion-card-subtitle>by - Jeremy</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/az.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>Modeling</ion-card-title>
            <ion-card-subtitle>by - Léa</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/Modelis.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Squelette</ion-card-title>
            <ion-card-subtitle>by - Ambre</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/ap.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Modeling</ion-card-title>
            <ion-card-subtitle>by - Noé</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/Eclairage.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>Lightning</ion-card-title>
            <ion-card-subtitle>by - Gaby</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row><ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-img src="assets/img/texture.png"></ion-img>
        <ion-card-header>
          <ion-card-title>Texture</ion-card-title>
          <ion-card-subtitle>by - Laurent</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-img src="assets/img/light.jpeg"></ion-img>
        <ion-card-header>
          <ion-card-title>Lightning</ion-card-title>
          <ion-card-subtitle>by - Martin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
