#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .title {
    text-align: center;
    position: relative;
    top: 200px;
  }
  
  .google {
    text-align: center;
    position: relative;
    top: 280px;
  }
  
  .google .btn-google {
    --border-radius: 30px;
    background-color: white;
  }
  
  .google-icon {
    height: 30px;
  }
  
  .connexion {
    text-align: center;
    position: relative;
    top: 280px;
  }
  
  .connexion .btn-connexion {
    width: 150px;
    --border-radius: 30px;
  }
  
  .inscription {
    text-align: center;
    position: relative;
    top: 280px;
  }
  
  .inscription .btn-inscription {
    width: 150px;
    margin-top: 10px;
    --border-radius: 30px;
  }