.button-clear {
    display: flex;
    margin-top: 17%;
    margin-left: 5%
}

.arrow {
    height: 20px;
    width: 20px;
}

.title-back {
    margin: 0 5px;
}

.title {
    margin-top: 15%;
}

h2 {
    margin: 0 10%;
    font-size: 35px;
}

.access {
    border: 1px solid purple;
    border-radius: 10px;
    height: 35px;
}

.input-modif {
    margin: 12% 10%;;
}

.save {
    text-align: center;
}

.btn-save {
    margin-top: 5%;
    width: 225px;
    --border-radius: 30px;
}