<ion-header>
  <ion-toolbar class="navbar">
    <ion-title>Accueil</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        Documents
      </ion-segment-button>
      <ion-segment-button value="favorites" (click)="toSubjects()">
        Matières
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-img src="https://i.pinimg.com/564x/0d/bd/ad/0dbdadbb9dbde281be2110a41de356c9.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Kit Design</ion-card-title>
            <ion-card-subtitle>by - Gabrielle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/Moodboard.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>Moodboard</ion-card-title>
            <ion-card-subtitle>by - Arthur</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/Template.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>Template</ion-card-title>
            <ion-card-subtitle>by - Léo</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/Concept.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>Concept art</ion-card-title>
            <ion-card-subtitle>by - Emma</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/Eclairage.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>Eclairage</ion-card-title>
            <ion-card-subtitle>by - Ethan</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/Storytelling.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>Storytelling</ion-card-title>
            <ion-card-subtitle>by - Rose</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row><ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-img src="assets/img/Git.png"></ion-img>
        <ion-card-header>
          <ion-card-title>Github</ion-card-title>
          <ion-card-subtitle>by - Eden</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-img src="assets/img/Unity.png"></ion-img>
        <ion-card-header>
          <ion-card-title>Unity</ion-card-title>
          <ion-card-subtitle>by - Pia</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
