ion-title{
  right: 13px;
}
ion-icon{
  color: #4343E6;
}
ion-segment{
  color: #4343E6;
  margin-top: 30px;
}
ion-row{
  margin-bottom: 1px;
}
ion-card{
  margin: 8px;
}
.card-img{
}
ion-card-title{
  font-size: 17px;
  position: page;
}
.img1{
  width: 10em;
  height: 10em;
  bottom: 10px;
}
.img2{
  width: 10em;
  height: 10em;
  top: 10px;
}

.img3{
  width: 10em;
  height: 10em;
  left: 10px;
}

.img4{
  width: 10em;
  height: 10em;
  right: 10px;
}


ion-segment{
  color: #4343E6;
  margin-top: 15px;
}
.navbar{
  padding-bottom: 10px;
}
ion-grid{
  margin-top: 3px;
}
ion-row{
  margin-bottom: 1px;
}
ion-col{
  margin-bottom: 5px;
}
