<ion-header>
  <ion-toolbar>
    <ion-title>Création & Design</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/matieres"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all" (click)="toProjets()">
        <ion-label>Projets</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>Cours</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card >
          <ion-img src="https://i.pinimg.com/564x/0d/bd/ad/0dbdadbb9dbde281be2110a41de356c9.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Kit Design</ion-card-title>
            <ion-card-subtitle>by - Gabrielle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="https://i.pinimg.com/564x/0c/44/a1/0c44a1b20cb42a4baaedd763172b20df.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Kit Design</ion-card-title>
            <ion-card-subtitle>by - Gaby</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-img src="https://i.pinimg.com/564x/0c/44/a1/0c44a1b20cb42a4baaedd763172b20df.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Kit Design</ion-card-title>
            <ion-card-subtitle>by - Gaby</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="https://i.pinimg.com/564x/0c/44/a1/0c44a1b20cb42a4baaedd763172b20df.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Kit Design</ion-card-title>
            <ion-card-subtitle>by - Gaby</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-img src="https://i.pinimg.com/564x/0c/44/a1/0c44a1b20cb42a4baaedd763172b20df.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Kit Design</ion-card-title>
            <ion-card-subtitle>by - Gaby</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="https://i.pinimg.com/564x/0c/44/a1/0c44a1b20cb42a4baaedd763172b20df.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Kit Design</ion-card-title>
            <ion-card-subtitle>by - Gaby</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row><ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-img src="https://i.pinimg.com/564x/0c/44/a1/0c44a1b20cb42a4baaedd763172b20df.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Kit Design</ion-card-title>
          <ion-card-subtitle>by - Gaby</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-img src="https://i.pinimg.com/564x/0c/44/a1/0c44a1b20cb42a4baaedd763172b20df.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Kit Design</ion-card-title>
          <ion-card-subtitle>by - Gaby</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Ajout</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
