<ion-header>
  <ion-toolbar>
    <ion-icon style=" color: #3a7be0; width: 28px; height: 29px;" slot="start" name="chevron-back-outline"></ion-icon>
    <ion-button style="width: 60px;" slot="start"fill="clear">Ajouter</ion-button>
    <ion-title>Partager</ion-title>
    <ion-button fill="clear" slot="end" (click)="uploadFirebase()" routerLink="/validation" routerDirection="forward">Suivant</ion-button>


  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin-top: 10%;" class="flex">
    <div class="img-box">
      <img [src]="image">
    </div>
  </div>

 <ion-grid>
   <ion-grid>
     <ion-button (click)="addPhoto('library')"><ion-icon name="cloud-upload-outline"></ion-icon></ion-button>
     <ion-button (click)="addPhoto('camera')"><ion-icon name="camera-outline"></ion-icon></ion-button>
   </ion-grid>


   <ion-grid class=" ml-3 mt-4 d-flex flex-column">
     <ion-label style="font-size: 20px;">Attribuez un nom à votre projet</ion-label>
     <ion-item style="width: 80%;">
       <ion-input required type="text" placeholder="Nom de la catégorie" style="font-size: 16px;" [(ngModel)]="titre"></ion-input>
     </ion-item>
   </ion-grid>

   <ion-grid class=" ml-3 mt-4 d-flex flex-column">
     <ion-label style="font-size: 20px;">Ajoutez une description</ion-label>
     <ion-item style="width: 80%;">
       <ion-input required type="text"  style="font-size: 16px;" [(ngModel)]="description"></ion-input>
     </ion-item>
   </ion-grid>
 </ion-grid>

</ion-content>
