<ion-content>
  <div class="title-profil-inscription">
    <h2>Inscription</h2>
  </div>

  <div class="contenu">
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Prenom</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Mail</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Confirmer mot de passe</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
    <div class="inscription">
      <ion-button class="btn-inscription">S'inscrire</ion-button>
    </div>
  </div>
    

</ion-content>


