<ion-content [fullscreen]="true">
  <div class="title-profil-inscription">
    <h2>Inscription</h2>
  </div>

  <div class="champs-inscription">
    <div class="input-inscription">
      <p>Nom</p>
      <ion-input class="access" [(ngModel)]="nom"></ion-input>
    </div>
  
    <div class="input-inscription">
      <p>Prénom</p>
      <ion-input class="access" [(ngModel)]="prenom"></ion-input>
    </div>
  
    <div class="input-inscription">
      <p>Mail</p>
      <ion-input class="access" [(ngModel)]="mail"></ion-input>
    </div>
  
    <div class="input-inscription">
      <p>Mot de passe</p>
      <ion-input class="access" [(ngModel)]="password"></ion-input>
    </div>
  
    <div class="input-inscription">
      <p>Confirmer le mot de passe</p>
      <ion-input class="access" [(ngModel)]="cpassword"></ion-input>
    </div>
  
    <div class="inscription">
      <ion-button class="btn-inscription" (click)="register()">S'inscrire</ion-button>
    </div>
  </div>
<ion-content>
