<ion-nav-bar>
  <div>
    <ion-nav-back-button class="button-clear">
      <ion-img class="arrow" src="assets/icon/back.png"></ion-img>
      <p class="title-back">Mon profil</p>
    </ion-nav-back-button>
  </div>
</ion-nav-bar>

<ion-content>

  <div class="title">
    <h2>Modifier</h2>
    <h2>votre prénom</h2>
  </div>

  
  <div class="input-modif">
    <p>Votre nouveau prénom</p>
    <ion-input class="access"></ion-input>
  </div>

  <div class="save">
    <ion-button class="btn-save">Enregistrer</ion-button>
  </div>


</ion-content>
