<ion-content>

  <h2 class="title-modif-profil">Mon profil</h2>

  <div class="avatar">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-icon class="pencil" name="pencil-outline"></ion-icon>
  </div>

  <div class="modif">
    <ion-button class="modif_btn" color="light" style="width: 100%" (click)="toModifierNom()">Modifier le nom</ion-button>
    <ion-button class="modif_btn" color="light" style="width: 100%" (click)="toModifierPrenom()">Modifier le prénom</ion-button>
    <ion-button class="modif_btn" color="light" style="width: 100%" (click)="toModifierMail()">Modifier l'adresse mail</ion-button>
    <ion-button class="modif_btn" color="light" style="width: 100%" (click)="toModifierMdp()">Modifier le mot de passe</ion-button>
  </div>
  

  
  <div class="save_profil">
    <ion-button class="save_btn">Enregistrer</ion-button>
  </div>
  
  </ion-content>
