<ion-content>

  <div class="avatar">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </div>
  
  <h2>Jean Pierre</h2>
  
  <div class="options">
      <ion-button class="modifier" (click)="toModifierProfil()">Modifier mon profil</ion-button>
      <ion-button class="fichiers">Voir mes cours/projets</ion-button>
      <ion-button class="favoris">Voir mes favoris</ion-button>
  </div>
  
  <div class="deconnexion">
    <ion-button color="danger">Déconnexion</ion-button>
  </div>
  
  </ion-content>
  