<ion-nav-bar>
  <div>
    <ion-nav-back-button class="button-clear">
      <ion-img class="arrow" src="assets/icon/back.png"></ion-img>
      <p class="title-back">Mon profil</p>
    </ion-nav-back-button>
  </div>
</ion-nav-bar>

<ion-content>

  <div class="title">
    <h2>Modifier</h2>
    <h2>l'adresse mail</h2>
  </div>

  
  <div class="input-modif">
    <p>Votre nouvelle adresse mail</p>
    <ion-input class="access"></ion-input>
  </div>

  <div class="save">
    <ion-button class="btn-save">Enregistrer</ion-button>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Ajout</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
