<ion-header>
  <ion-toolbar>
    <ion-title>Communication digitale</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/matieres"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="navbar">
    <ion-segment value="all">
      <ion-segment-button value="all" (click)="toProjets()">
        <ion-label>Projets</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>Cours</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card >
          <ion-img src="assets/img/pers.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>Personas</ion-card-title>
            <ion-card-subtitle>by - Daniel</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/Storytelling.jpeg">
            <ion-icon style="align-items: center" name="heart-outline"></ion-icon>
          </ion-img>
          <ion-card-header>
            <ion-card-title>
              Storytelling
            </ion-card-title>
            <ion-card-subtitle>by - Jeremy</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/inbound.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>Inbound</ion-card-title>
            <ion-card-subtitle>by - Léa</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/person.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Template</ion-card-title>
            <ion-card-subtitle>by - Ambre</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/smart.png"></ion-img>
          <ion-card-header>
            <ion-card-title>S.M.A.R.T.</ion-card-title>
            <ion-card-subtitle>by - Noé</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/seo.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>SEO</ion-card-title>
            <ion-card-subtitle>by - Gaby</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row><ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-img src="assets/img/princ.jpeg"></ion-img>
        <ion-card-header>
          <ion-card-title>SEA</ion-card-title>
          <ion-card-subtitle>by - Laurent</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-img src="assets/img/goads.jpeg"></ion-img>
        <ion-card-header>
          <ion-card-title>Google ads</ion-card-title>
          <ion-card-subtitle>by - Martin</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
